.container{
    height: auto;
}



  .center-text {
    text-align: center; /* Centraliza o texto horizontalmente */
    position: relative; /* Permite a posição relativa para alinhar o texto verticalmente */
    height: auto; /* Define a altura da área de visualização (viewport) */

  }
  .centered-text {
    position: absolute; /* Posição absoluta para centralizar o texto verticalmente */
    transform: translateY(50%); /* Move o texto para cima metade da sua altura para centralização vertical */
  }
  
  .parabens-box {
    background-color: #f0f0f0; /* Cor de fundo da div */
    padding: 20px; /* Espaçamento interno da div */
    text-align: center; /* Centraliza o texto na div */
    margin-top: 70px;
  }
